@model Mvc_Ogrenci_kayit.Models.TBL_Ogrenci

@{
ViewBag.Title = "Delete";
}

<div class="panel panel-info" style="margin-top:10px;">
    <div class="panel-heading">
        <h5>Aşağıda Bilgileri Verilen Öğrenciyi Silmek İstediğinizden Eminmisiniz !!</h5>
    </div>
    <div class="panel-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th colspan="2" class="success">Öğrenci Bilgileri</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Adı</th>
                    <td>@Model.OgrAd</td>
                </tr>
                <tr>
                    <th>Soyadı</th>
                    <td>@Model.OgrSoyad</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>@Model.OgrMail</td>
                </tr>
                <tr>
                    <th>Adres</th>
                    <td>@Model.OgrAdres</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="row text-center">
                <div class="col-lg-6">
                    <input type="submit" value="Delete" class="btn btn-success  btn-block" />
                </div>
                <div class="col-lg-6">
                    <a href="/ogrenci/" class="btn btn-danger  btn-block">Cancel</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>