@model Mvc_Ogrenci_kayit.Models.TBL_Ogrenci

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-9">
        <h4>Öğrenci Detay Bilgileri</h4>
    </div>
    <div class="col-md-3">
        <div class="row" style="margin-top:10px">
            <div class="col-lg-6">
                <a href="/ogrenci/edit/@Model.OgrId" class="btn btn-sm btn-warning btn-block">Update</a>
            </div>
            <div class="col-lg-6">
                <a href="/ogrenci/Index" class="btn btn-sm btn-danger btn-block">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="row">


    <hr />
    <div class="col-md-3">
        <img src="@Model.OgrFotograf" width="100px" height="100px" />

    </div>
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>
                Adı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OgrAd)
            </dd>

            <dt>
                Soyadı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OgrSoyad)
            </dd>

            <dt>
                Mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OgrMail)
            </dd>

            <dt>
                Adres
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OgrAdres)
            </dd>

        </dl>
    </div>

</div>


<p>


</p>
